version: '3.9'

services:
  # Backend Laravel
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    working_dir: /var/www/html
    volumes:
      - ./:/var/www/html
    networks:
      - ecommerce

  # Frontend (Vite/Node)
  frontend:
    image: node:20
    container_name: ecommerce_frontend
    working_dir: /var/www/html/frontend
    volumes:
      - ./frontend:/var/www/html/frontend
    command: sh -c "npm install && npm run dev"
    ports:
      - "5173:5173" # puerto Vite
    networks:
      - ecommerce

  # Nginx
  nginx:
    image: nginx:alpine
    container_name: ecommerce_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./:/var/www/html
    depends_on:
      - app
      - frontend
    networks:
      - ecommerce

networks:
  ecommerce:
    driver: bridge
